body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:   100%;
	*font-size:  80%;
}

/*
 *	PANES & CONTENT-DIVs
 */
.ui-layout-pane { /* all 'panes' */
	background:	#FFF; 
	border:		1px solid #BBB;
	/* DO NOT add scrolling (or padding) to 'panes' that have a content-div,
	   otherwise you may get double-scrollbars - on the pane AND on the content-div
	*/
	padding:	10px; 
	overflow:	auto;
	}
	/* (scrolling) content-div inside pane allows for fixed header(s) and/or footer(s) */
	.ui-layout-content {
		padding:	10px;
		position:	relative; /* contain floated or positioned elements */
		overflow:	auto; /* add scrolling to content-div */
	}

/*
 *	RESIZER-BARS
 */
.ui-layout-resizer	{ /* all 'resizer-bars' */
	background:		#DDD;
	border:			1px solid #BBB;
	border-width:	0;
	}
	.ui-layout-resizer-drag {		/* REAL resizer while resize in progress */
	}
	.ui-layout-resizer-hover	{	/* affects both open and closed states */
	}
	/* NOTE: It looks best when 'hover' and 'dragging' are set to the same color,
		otherwise color shifts while dragging when bar can't keep up with mouse */
	.ui-layout-resizer-open-hover ,	/* hover-color to 'resize' */
	.ui-layout-resizer-dragging {	/* resizer beging 'dragging' */
		background: #C4E1A4;
	}
	.ui-layout-resizer-dragging {	/* CLONED resizer being dragged */
		border-left:  1px solid #BBB;
		border-right: 1px solid #BBB;
	}
	/* NOTE: Add a 'dragging-limit' color to provide visual feedback when resizer hits min/max size limits */
	.ui-layout-resizer-dragging-limit {	/* CLONED resizer at min or max size-limit */
		background: #E1A4A4; /* red */
	}

	.ui-layout-resizer-closed-hover	{ /* hover-color to 'slide open' */
		background: #EBD5AA;
	}
	.ui-layout-resizer-sliding {	/* resizer when pane is 'slid open' */
		opacity: .10; /* show only a slight shadow */
		filter:  alpha(opacity=10);
		}
		.ui-layout-resizer-sliding-hover {	/* sliding resizer - hover */
			opacity: 1.00; /* on-hover, show the resizer-bar normally */
			filter:  alpha(opacity=100);
		}
		/* sliding resizer - add 'outside-border' to resizer on-hover 
		 * this sample illustrates how to target specific panes and states */
		.ui-layout-resizer-north-sliding-hover	{ border-bottom-width:	1px; }
		.ui-layout-resizer-south-sliding-hover	{ border-top-width:		1px; }
		.ui-layout-resizer-west-sliding-hover	{ border-right-width:	1px; }
		.ui-layout-resizer-east-sliding-hover	{ border-left-width:	1px; }

/*
 *	TOGGLER-BUTTONS
 */
.ui-layout-toggler {
	border: 1px solid #BBB; /* match pane-border */
	background-color: #BBB;
	}
	.ui-layout-resizer-hover .ui-layout-toggler {
		opacity: .60;
		filter:  alpha(opacity=60);
	}
	.ui-layout-toggler-hover , /* need when NOT resizable */
	.ui-layout-resizer-hover .ui-layout-toggler-hover { /* need specificity when IS resizable */
		background-color: #FC6;
		opacity: 1.00;
		filter:  alpha(opacity=100);
	}
	.ui-layout-toggler-north ,
	.ui-layout-toggler-south {
		border-width: 0 1px; /* left/right borders */
	}
	.ui-layout-toggler-west ,
	.ui-layout-toggler-east {
		border-width: 1px 0; /* top/bottom borders */
	}
	/* hide the toggler-button when the pane is 'slid open' */
	.ui-layout-resizer-sliding  ui-layout-toggler {
		display: none;
	}
	/*
	 *	style the text we put INSIDE the togglers
	 */
	.ui-layout-toggler .content {
		color:			#666;
		font-size:		12px;
		font-weight:	bold;
		width:			100%;
		padding-bottom:	0.35ex; /* to 'vertically center' text inside text-span */
	}

/*
-----------------------------------------------
Geospatial Extent
----------------------------------------------- */

#geospatialContainer {
	/*margin:5px;*/
	/*width: 100%;*/
	height: 150px;
	position: relative;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}

.geoIconDropdown {
	position:absolute;
	top: -5px;
	right: 10px;
}

div#icons {
	position:absolute;
	top:1px;
	right:1px;
}

.boundingBoxText {
	position:absolute;
	top:45px;
	left: 5px;
	font-weight:bold;
	padding-left: 20px;
}

.boundingBoxRadios {
	position:absolute;
	top:0px;
	left:0px;
	padding-left: 20px;
}

.altitudeRadios {
	position:absolute;
	top:0px;
	right:0px;
	padding-right: 20px;
}

.boundingBoxControls {
	position:absolute;
	top:80px;
	left:20px;
	/*background-color:#cccccc;*/
	width:180px;
	height: 85px;
}

.Ntext {
	position:inherit;
	top:0px;
	left:86px;
	font-weight:bold;
	z-index:4;
}

.north {
	position: inherit;
	top: 13px;
	left: 73px;
	z-index: 4;
}

.Stext {
	position:inherit;
	top:65px;
	left:86px;
	font-weight:bold;
	z-index:4;
}

.south {
	position: inherit;	
    height: 14px;
	width: 50px;
	top: 50px;
	left: 73px;
	z-index: 4;
}

.Wtext {
	position:inherit;
	top:18px;
	left:27px;
	font-weight:bold;
	z-index:4;
}

.west {
    height: 14px;
    width: 50px;
	position:inherit;
	top:31px;
	left: 23px;
	z-index: 4;
}

.Etext {
	position:inherit;
	top:18px;
	left:147px;
	font-weight:bold;
	z-index:4;
}

.east {
    height: 14px;
    width: 50px;
	position:inherit;
	top: 31px;
	left:124px;
	z-index: 4;
}

.NSEWBackgroundBorder {
	border: 1px solid #0000cc;
    height: 36px;
    width: 100px;
	position:inherit;
	top: 20px;
	left: 40px;
	z-index:1;
}

.altitudeControls {
	position:absolute;
	top:45px;
	left:190px;
	/*background-color:#cccccc;*/
	width:130px;
	height:120px;
}

.altText {
	position:inherit;
	top:0px;
	right:0px;
	font-weight:bold;
}

.altitudeUpper {
	position:inherit;	
    width: 110px;
	height: 14px;
	top: 45px;
	left:10px;
}

.altitudeLower {
	position:inherit;	
    height: 14px;
    width: 110px;
	top:85px;
	left:10px;
}

.textfield {
	height: 8px;
	width: 30px;
}