body {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    margin:0px;
    padding:0px;
}
.ui-layout-north {
    overflow:hidden;
    background-color:#15151F;
}
#loading_message {
    position:absolute;
    margin:0 auto;
    z-index:10;
    width:100%;
    text-align:center;
    display:none;
}
#loading_message span {
    background-color:#FFF15F;
    font-weight:bold;
    padding:4px;
    padding-top:6px;
    position:relative;
    padding-left:70px;
}
#loading_message img {
    position:relative;
    z-index:3;
    top:2px;
    left:66px;
}
#top {
	background: url("../images/G1107-Wire-Waves-White-Narrow.png") no-repeat 0px -15px;
}
#branding {
    width:75%;
	background: url("../images/G1122-Banner-Landing-Page-White.png") no-repeat 0px 10px transparent;
    position:relative;
    top:-5px;
    height:100px;
}
#branding h1 {
    margin:0px 0px 0px 115px;
    padding:0px;
    color:#CECECD;
    display:none;
}
#branding h2 {
    margin:0px 0px 0px 115px;
    padding:0px;
    color:#4992C8;
    display:none;
}
#userbar {
    float:right;
    position:relative;
    top:-65px;
}
#userbar a {
    color:transparent; /* FIXME */
    text-decoration:none;
    padding:4px;
}
#userbar a:hover {
    text-decoration:underline;
}
#registration_link {
	background: url("../images/G1135-Script-Create-Account.png") no-repeat 0px 0px;
}
#login_link {
	background: url("../images/G1134-Script-Sign-In.png") no-repeat 0px 0px;
}
#logout_link {
	background: url("../images/G1115-Script-Sign-Out.png") no-repeat 0px 0px;
}
#account_settings_link {
	background: url("../images/G1106-Script-Account-Settings.png") no-repeat 0px 0px;
}
#logout_link {
	background: url("../images/G1115-Script-Sign-Out.png") no-repeat 0px 0px;
}
#help_link {
	background: url("../images/G1114-Script-Help.png") no-repeat 0px 0px;
}


table.datatable tr {
    cursor:pointer;
}
table.datatable td, table.datatable th {
    padding: 0 3px;
}
tr.odd {
    background-color: #F5F5F5;
}
#datatable h1 {
    color: #00457C;
    font-size:13px;
    border-bottom:1px solid #00457C;
}

.bold {
  font-weight:bold;
  color:#362B36 !important;
}
.selected {
  font-weight:bold;
  background-color:#DDDDDD !important;
}
#resource_selector_view .selected {
  background-color:#F5F5F5 !important;
  color:#AAA;
}

.hidden {
  display: none;
}
.ui-accordion .ui-accordion-content {
  padding: 12px;
}

.notification_settings {
  display:none;
}
#save_notification_settings {
  display:none;
}
#geospatial_selection_button {
}

#resource_selector_view {
  text-align:center;
  position:relative;
  top:-4px;
}
#resource_selector_view span {
  color:#bbb;
}
#resource_selector_view_spacer {
  padding:0px 4px;
  color:#000;
  font-weight:bold;
}
#view_existing_tab {
}
#register_new_tab {
}
.resource_selector_tab {
    cursor:pointer;
}
#register_new {
  display:none;
}
#register_resource_button {
  display:none;
}
#datatable_select_buttons {
  display:none;
}
#save_myresources_changes {
  display:none;
}
#save_notifications_changes {
  display:none;
}
.select_button {
  float:right;
  border: 1px solid #ccc;
  background-color:#eee;
  padding:2px 4px;
  margin:8px 10px 10px 0px;
  border-radius: 3px;
  cursor:pointer;
}
#dispatcher_settings {
  display:none;
}
.dispatcher_settings {
  display:none;
}
#start_notifications {
  display:none;
}
#datatable_details_scroll {
  float:right;
  position:relative;
  top:-31px;
  left:-4px;
  font-size:130%;
  padding:2px 3px;
  cursor:pointer;
}
#datatable_details_scroll span {
  margin:0px 2px;
  background-color:#eee;
}
#datatable_details_scroll .arrow {
  font-weight:bold;
}
#loading_account_settings {
    position:relative;
    top:275px;
    text-align:center;
}
#datatable_details_container {
    line-height:100%;
    font-size:130%;
}
#datatable_details_container .detail {
    margin-bottom:15px;
}
#datatable_details_container {
}





#footer {
    position:absolute;
    bottom:-8px;
    left:25%;
    z-index:4;
}
#footer span {
    float:right; 
    margin:0px 8px;
}
#footer img {
    float:left;
    position:relative;
    top:-10px;
    left:-5px;
}



/* sidebar widget containers */

.ui-layout-center {
    margin:0px;
    padding:0px;
    border:none;
}
.ui-layout-west {
    margin:0px;
    padding:0px;
    background-color:#F5F5F5;
}
.ui-layout-east {
    margin:0px;
    padding:0px;
    border:none;
}
.west-center {
    border:none;
    background-color:#F5F5F5;
}

.ui-accordion .ui-accordion-header a {
    display: block;
    color: #00457C;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight:lighter;
    padding: 2px;
    margin-left:20px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: url("images/FIXME.png") repeat-x scroll 50% 50% #F5F5F5;
    border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("images/FIXME.png") repeat-x scroll 50% 50% #E6E6E6;
    border: none;
    color: #000;
    font-weight: bold;
}

.ui-accordion .ui-accordion-content {
    padding: 12px;
    border-top:1px solid #00457C;
}
.ui-widget-content {
    background: url("images/FIXME.png") repeat-x scroll 50% top #F5F5F5;
    border: 1px solid #F5F5F5;
    color: #362B36;
}
.ui-widget-header {
    background: url("images/FIXME.png") repeat-x scroll 50% 50% #FFFFFF;
    border: none;
    color: #000;
    font-weight: bold;
}

.ui-state-active .ui-icon {
	background: url("../images/I1126-Plus-Simple.png") no-repeat 0px 0px transparent;
}
.ui-accordion .ui-accordion-header .ui-icon {
	background: url("../images/I1126-Plus-Simple.png") no-repeat 0px 0px transparent;
}
.ui-icon-triangle-1-e {
    background: url("../images/I1125-Minus-Simple.png") no-repeat scroll 0 0 transparent;
}


/* END sidebar widget containers */



