html, body {
    min-height: 100%;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    margin:0px;
    padding:0px;
}
#layoutContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.ui-layout-north {
    overflow:hidden;
    background-color:#15151F;
}
.center-south {
    overflow-y:hidden;
}
#loading_message {
    position:absolute;
    margin:0 auto;
    z-index:10;
    width:100%;
    text-align:center;
    display:none;
}
#loading_message span {
    background-color:#FFF47F;
    font-weight:bold;
    position:relative;
    padding:4px 4px 2px 40px;
    border-radius:2px;
}
#loading_message img {
    position:relative;
    z-index:3;
    top:4px;
    left:34px;
}
#top {
	background: url("../images/G1107-Wire-Waves-White-Narrow.png") no-repeat 0px -15px;
}
#branding {
    width:75%;
	background: url("../images/G1122-Banner-Landing-Page-White.png") no-repeat 0px 10px transparent;
    position:relative;
    top:-5px;
    height:100px;
}
#branding h1 {
    margin:0px 0px 0px 115px;
    padding:0px;
    color:#CECECD;
    display:none;
}
#branding h2 {
    margin:0px 0px 0px 115px;
    padding:0px;
    color:#4992C8;
    display:none;
}
#userbar {
    float:right;
    position:relative;
    top:-65px;
}
#userbar a {
    color:transparent; /* FIXME */
    text-decoration:none;
    padding:4px;
}
#userbar a:hover {
    text-decoration:underline;
}
#registration_link {
	background: url("../images/G1135-Script-Create-Account.png") no-repeat 0px 0px;
}
#login_link {
	background: url("../images/G1134-Script-Sign-In.png") no-repeat 0px 0px;
}
#logout_link {
	background: url("../images/G1115-Script-Sign-Out.png") no-repeat 0px 0px;
}
#account_settings_link {
	background: url("../images/G1106-Script-Account-Settings.png") no-repeat 0px 0px;
}
#logout_link {
	background: url("../images/G1115-Script-Sign-Out.png") no-repeat 0px 0px;
}
#help_link {
	background: url("../images/G1114-Script-Help.png") no-repeat 0px 0px;
}

table.datatable {
    width:99.9% !important;
}
table.datatable tr {
    cursor:pointer;
}
table.datatable td, table.datatable th {
    padding: 0 3px;
}
tr.odd {
    background-color: #F5F5F5;
}
#datatable { 
    overflow-x:auto;
}
#datatable h1 {
    color: #00457C;
    font-size:13px;
    border-bottom:1px solid #dddddd;
}

.bold {
  font-weight:bold;
  color:#362B36 !important;
}
#resource_selector_view .selected {
  color:#333333 !important;
  font-weight:bold;
}

.hidden {
  display: none;
}
.ui-accordion .ui-accordion-content {
  padding: 12px;
  border-top:1px solid #dddddd !important;
}

.notification_settings {
  display:none;
}
#save_notification_settings {
  display:none;
}
#geospatial_selection_button {
}
.bb_direction {
    cursor:pointer;
    border: 1px solid #CCCCCC;
    padding: 0 2px;
    margin-bottom:1px;
}
#vertical_extent_units_toggle {
    padding:0px 2px;
    margin-left:4px;
    border:1px solid #ccc;
    position:relative;
    left:-30px;
    cursor:pointer;
}
.vertical_extent_button {
    margin-left:12px;
    position:relative;
    top:2px;
    cursor:pointer;
}
#te_from_input {
    margin-top:4px;
}
#te_to_input {
    margin:8px 0px 8px 14px;
}

#resource_selector_view {
  position:relative;
  top:-4px;
  left:-12px;
  margin-bottom:2px;
}
#resource_selector_view span {
  color:#bbb;
}
#resource_selector_view_spacer {
  padding:0px 4px;
  color:#777 !important;
  font-weight:bold;
}
#view_existing_tab {
}
#register_new_tab {
}
.resource_selector_tab {
    cursor:pointer;
    padding:0px 3px;
    color:#777 !important;
    border-radius:2px;
}
#register_new {
  display:none;
}
#register_resource_button {
  display:none;
}
#data_resource_url_text {
    position:relative;
    top:-45px;
}
#data_resource_url {
    height: 55px;
    margin-left: 10px;
    width: 229px;
}
#datatable_select_buttons {
  display:none;
}
#save_myresources_changes {
  display:none;
}
#save_notifications_changes {
  display:none;
}
.select_button {
  float:right;
  border: 1px solid #ccc;
  background-color:#eee;
  padding:2px 4px;
  margin:8px 10px 10px 0px;
  border-radius: 3px;
  cursor:pointer;
}
#dispatcher_settings {
  display:none;
}
.dispatcher_settings {
  display:none;
}
.dispatcher_details {
    font-weight:bold;
    border-bottom:1px solid #555;
}
#start_notifications {
  display:none;
}
#datatable_details_scroll {
  float:right;
  position:relative;
  top:-36px;
  left:-6px;
  padding:2px 3px;
  cursor:pointer;
}
#datatable_details_scroll span {
  margin:0px 3px;
}
#datatable_details_scroll .arrow {
  font-weight:bold;
}
.dataset-detail {
    margin-bottom:10px;
}
.dataset-detail .name {
  font-weight:bold;
}
.vars0 {
    margin-left:10px;
    margin-top:5px;
}
.vars1 {
    margin-left:20px;
}
#loading_account_settings {
    position:relative;
    top:275px;
    text-align:center;
}
#datatable_details_container {
    line-height:100%;
    font-size:130%;
}
#datatable_details_container .detail {
    margin-bottom:15px;
}
#datatable_details_container {
}



/* sidebar widget containers */

.ui-layout-center {
    margin:0px;
    padding:0px;
    border:none;
}
.ui-layout-west {
    margin:0px;
    padding:0px;
    background-color:#F5F5F5;
}
.ui-layout-east {
    margin:0px;
    padding:0px;
    border:none;
}
.west-center {
    border:none;
    background-color:#F5F5F5;
    overflow-x:hidden;
}

.west-center .ui-widget-content {
    white-space:nowrap;
    font-size:11px;
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    margin-top: 2px;
    height:17px;
}

.ui-accordion .ui-accordion-header .ui-icon {
    position:absolute;
    right:10px;
}
.ui-accordion .ui-accordion-header a {
    display: block;
    color: #00457C;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight:lighter;
    padding: 0px;
    margin-left:0px;
    position:relative;
    top:0px;
}

.ui-accordion .accordion-inactive a {
    cursor:default;
}
.ui-accordion .accordion-inactive span { /* +/- element */
    display:none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: url("images/FIXME.png") repeat-x scroll 50% 50% #F5F5F5;
    border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("images/FIXME.png") repeat-x scroll 50% 50% #E6E6E6;
    border: none;
    color: #000;
    font-weight: bold;
}
#east_sidebar .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-color: #fff;
}
#east_sidebar .ui-accordion-header {
    background-color: #fff;
}
#east_sidebar .ui-accordion-content {
    background-color: #fff;
    display:none;
}

.center-center {
    width:99.2% !important;
    padding:0px;
    padding-left:0.5%;
}
.center-center .ui-widget-content {
    background: url("images/FIXME.png") repeat-x scroll 50% top #F5F5F5;
    border: 1px solid #F5F5F5;
    color: #362B36;
}
.center-center .ui-widget-header {
    background: url("images/FIXME.png") repeat-x scroll 50% 50% #FFFFFF;
    border: none;
    color: #000;
    font-weight: bold;
}
.center-center .ui-widget-header {
    background: url("images/FIXME.png") repeat-x scroll 50% 50% #FFFFFF;
    border: none;
    color: #000;
    font-weight: bold;
}
.ui-accordion .ui-accordion-content {
    padding: 12px;
    border-top:1px solid #00457C;
}
.ui-accordion-content input[type=radio], .ui-accordion-content label {
    cursor: pointer;
}
.ui-accordion-content a {
    text-decoration: none;
}

.ui-layout-west .ui-icon-triangle-1-s {
    background: url("../images/I1125-Minus-Simple.png") no-repeat scroll 0 0 transparent !important;
}
.ui-layout-east .ui-icon-triangle-1-s {
    background: url("../images/I1125-Minus-Simple.png") no-repeat scroll 0 0 transparent !important;
}
.ui-layout-west .ui-widget-content {
    background:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
}
.ui-layout-east .ui-widget-content {
    background:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
}

.ui-state-active .ui-icon {
	background: url("../images/I1126-Plus-Simple.png") no-repeat 0px 0px transparent;
}
.ui-accordion .ui-accordion-header .ui-icon {
	background: url("../images/I1126-Plus-Simple.png") no-repeat 0px 0px transparent;
}


/* END sidebar widget containers */


/* datetime widget css */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

#user_role_panel label {
    display: block;
    float: left;
    margin-right: 0.5em;
}


