<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>/@grails.project.key@</display-name>


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>@grails.project.key@</param-value>
    </context-param>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>cilogonAuthenticationFilter</filter-name>
        <filter-class>cilogon.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>cilogonAuthenticationFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.codehaus.groovy.grails.web.sitemesh.GrailsPageFilter</filter-class>
    </filter>

    <filter>
        <filter-name>charEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>characterEncodingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>charEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.codehaus.groovy.grails.web.util.Log4jConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.codehaus.groovy.grails.web.context.GrailsContextLoaderListener</listener-class>
    </listener>

    <!-- Grails dispatcher servlet -->
    <servlet>
        <servlet-name>grails</servlet-name>
        <servlet-class>org.codehaus.groovy.grails.web.servlet.GrailsDispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- The Groovy Server Pages servlet -->
    <servlet>
        <servlet-name>gsp</servlet-name>
        <servlet-class>org.codehaus.groovy.grails.web.pages.GroovyPagesServlet</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>cilogon.WelcomeServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ReadyServlet</servlet-name>
		<servlet-class>cilogon.ReadyServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SuccessServlet</servlet-name>
		<servlet-class>cilogon.SuccessServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>FailureServlet</servlet-name>
		<servlet-class>cilogon.FailureServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>StartRequest</servlet-name>
		<servlet-class>cilogon.StartRequest</servlet-class>
	</servlet>

    <servlet-mapping>
        <servlet-name>gsp</servlet-name>
        <url-pattern>*.gsp</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ReadyServlet</servlet-name>
		<url-pattern>/ready</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SuccessServlet</servlet-name>
		<url-pattern>/SuccessServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FailureServlet</servlet-name>
		<url-pattern>/failure</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>StartRequest</servlet-name>
		<url-pattern>/StartRequest</url-pattern>
	</servlet-mapping>

    <welcome-file-list>
        <!--
        The order of the welcome pages is important.  JBoss deployment will
        break if index.gsp is first in the list.
        -->
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.gsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.springframework.org/tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/spring.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://grails.codehaus.org/tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/grails.tld</taglib-location>
        </taglib>
    </jsp-config>

    <!--
       The next section should be uncommented if you install the portal to
       Tomcat as a stand-alone application, i.e., there is no Apache
       involved.
       Comment out this section if you access the application
       through Apache.
    -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>portalSecurity</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!--
       This section regulates access to the setup pages. It *must* be done separately from any other
       constraints. Since Tomcat processes its constraints sequentially do not change the order
       of them!
    -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>setupPages</web-resource-name>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>cilogon-admin</role-name>
        </auth-constraint>
    </security-constraint>



    <security-role>
        <description>
            The role that is required to configure the servlet. This must be added to tomcat-users.xml
        </description>
        <role-name>cilogon-admin</role-name>
    </security-role>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
   <!--
   If you need to specify a configuration file, put the full path here. Make sure you have all the proper permissions.
   -->
    <context-param>
        <param-name>org.cilogon.config.portal</param-name>
        <param-value></param-value>
    </context-param>

</web-app>